<div class="container my-5">
    <h1 class="text-danger">RẤT TIẾC!</h1>
    <h3 class="mt-3">Trang bạn đang tìm không tồn tại.</h3>
    <a class="btn btn-outline-secondary" href="/admin">
        <i class="fa-solid fa-house"></i>
        <span class="ms-2">Về trang chủ</span>
    </a>
</div>