<div class="nav nav-pills justify-content-center py-2 bg-white" id="navHeader">
    <form class="d-flex mx-2">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 50rem;">
        <button class="btn btn-outline-primary p-0" type="submit" style="width: 3rem;"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>
