<div class="row m-2 p-2 border border-0 rounded shadow bg-white">
    <span class="text-gray-600 text-start p-0">THÔNG TIN TỔNG QUÁT</span>
    <hr>
    <div class="d-flex justify-content-around align-items-center">
        <div class="me-2 w-25 p-2 border border-primary boder-2 rounded">
            <i class="fs-1 fas fa-calendar-alt text-blue-500"></i>
            <p class="m-1 fs-5 text-blue-600">Tổng số tài khoản - 
                <span class="fs-5 fw-bold text-blue-500" id="totalAccounts"></span>
            </p>
        </div>
        <div class="me-2 w-25 p-2 border border-success boder-2 rounded">
            <i class="fs-1 fas fa-check-circle text-green-500"></i>
            <p class="m-1 fs-5 text-green-600">Bác sĩ - 
                <span class="fs-5 fw-bold green-blue-500" id="accountDoctors"></span>
            </p>
        </div>
        <div class="me-2 w-25 p-2 border border-warning boder-2 rounded">
            <i class="fs-1 fas fa-hourglass-start text-yellow-500"></i>
            <p class="m-1 fs-5 text-yellow-600">Bệnh nhân -
                <span class="fs-5 fw-bold green-yellow-500" id="accountPatiens"></span>
            </p>
        </div>
        <div class="me-2 w-25 p-2 border border-warning boder-2 rounded">
            <i class="fs-1 fas fa-hourglass-start text-red-500"></i>
            <p class="m-1 fs-5 text-red-600">Admin -
                <span class="fs-5 fw-bold green-red-500" id="accountAdmins"></span>
            </p>
        </div>
    </div>
</div>
<div class="row m-2 p-2 border border-0 rounded shadow bg-white">
    <table class="table table-bordered table-striped caption-top table-hover">
        <caption>DANH SÁCH TÀI KHOẢN<hr class="m-0"></caption>
        <thead>
            <tr class="text-start">
                <th>STT</th>
                <th>Trạng thái</th>
                <th>Ngày</th>
                <th>Địa chỉ</th>
                <th>Bác sĩ</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody id="accountTable">
            
        </tbody>
    </table>

    <nav id="paginationArea">
    </nav>
</div>