<div class="row m-2 p-2 border border-0 rounded shadow bg-white">
    <span class="text-gray-600 text-start p-0">THÔNG TIN TỔNG QUÁT</span>
    <hr>
    <div class="d-flex justify-content-around align-items-center">
        <div class="me-2 w-25 p-2 border border-primary boder-2 rounded">
            <i class="fs-1 fas fa-calendar-alt text-blue-500"></i>
            <p class="m-1 fs-5 text-blue-600">Tổng số lịch hẹn - 
                <span class="fs-5 fw-bold text-blue-500" id="totalAppointments"></span>
            </p>
        </div>
        <div class="me-2 w-25 p-2 border border-success boder-2 rounded">
            <i class="fs-1 fas fa-check-circle text-green-500"></i>
            <p class="m-1 fs-5 text-green-600">Duyệt - 
                <span class="fs-5 fw-bold green-blue-500" id="approvedAppointments"></span>
            </p>
        </div>
        <div class="me-2 w-25 p-2 border border-warning boder-2 rounded">
            <i class="fs-1 fas fa-hourglass-start text-yellow-500"></i>
            <p class="m-1 fs-5 text-yellow-600">Đang chờ -
                <span class="fs-5 fw-bold green-yellow-500" id="pendingAppointments"></span>
            </p>
        </div>
        <div class=" w-25 p-2 border border-danger boder-2 rounded">
            <i class="fs-1 fas fa-times-circle text-red-500"></i>
            <p class="m-1 fs-5 text-red-600">Hủy -
                <span class="fs-5 fw-bold green-red-500" id="canceledAppointments"></span>
            </p>
        </div>
    </div>
</div>
<div class="row m-2 p-2 border border-0 rounded shadow bg-white">
    <table class="table table-bordered table-striped caption-top table-hover">
        <caption>DANH SÁCH LỊCH HẸN<hr class="m-0"></caption>
        <thead>
            <tr class="text-start">
                <th>STT</th>
                <th>Trạng thái
                    <select class="">
                        <option selected>Tất cả</option>
                        <option value="1">Duyệt</option>
                        <option value="2">Đang chờ</option>
                        <option value="3">Từ chối</option>
                    </select>
                </th>
                <th>Ngày
                    <select class="">
                        <option selected>Tất cả</option>
                        <option value="1">Mới nhất</option>
                        <option value="2">Cũ nhất</option>
                    </select>
                </th>
                <th>Địa chỉ</th>
                <th>Bác sĩ</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody id="appointmentTable">
            
        </tbody>
    </table>

    <nav id="paginationArea">
    </nav>
</div>