<div class="row m-2 p-2 border border-0 rounded shadow bg-white">
    <table class="table caption-top table-hover">
        <caption>Danh sách lịch hẹn<hr class="m-0"></caption>
        <thead>
            <tr>
                <th>STT</th>
                <th>Trạng thái
                    <select class="">
                        <option selected>Tất cả</option>
                        <option value="1">Duyệt</option>
                        <option value="2">Đang chờ</option>
                        <option value="3">Từ chối</option>
                    </select>
                </th>
                <th>Ngày
                    <select class="">
                        <option selected>Tất cả</option>
                        <option value="1">Mới nhất</option>
                        <option value="2">Cũ nhất</option>
                    </select>
                </th>
                <th>Địa chỉ</th>
                <th>Bác sĩ</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody id="appointmentTable">
            
        </tbody>
    </table>

    <nav id="paginationArea">
    </nav>
</div>