<div class="row m-2 p-2 border border-0 rounded shadow bg-white">
    <span class="text-gray-600 text-start p-0">THÔNG TIN TỔNG QUÁT</span>
    <hr>
    <div class="d-flex justify-content-around align-items-center">
        <div class="card shadow-sm rounded border-2 bg-white p-3 w-25 text-center me-5">
            <div class="icon-wrapper mb-2">
                <i class="fs-1 me-2 fas fa-calendar-alt text-blue-300"></i><span class="fs-1 fw-bold text-blue-500" id="totalAppointments"></span>
            </div>
            <p class="mb-1 fs-5 text-blue-600">LỊCH HẸN</p>
        </div>

        <div class="card shadow-sm rounded border-2 bg-white p-3 w-25 text-center me-5">
            <div class="icon-wrapper mb-2">
                <i class="fs-1 me-2 fas fa-check-circle text-green-300"></i><span class="fs-1 fw-bold text-green-500" id="approvedAppointments"></span>
            </div>
            <p class="mb-1 fs-5 text-green-600">DUYỆT</p>
        </div>

        <div class="card shadow-sm rounded border-2 bg-white p-3 w-25 text-center me-5">
            <div class="icon-wrapper mb-2">
                <i class="fs-1 me-2 fas fa-hourglass-start text-yellow-300"></i><span class="fs-1 fw-bold text-yellow-500" id="pendingAppointments"></span>
            </div>
            <p class="mb-1 fs-5 text-yellow-600">ĐANG CHỜ</p>
        </div>

        <div class="card shadow-sm rounded border-2 bg-white p-3 w-25 text-center">
            <div class="icon-wrapper mb-2">
                <i class="fs-1 me-2 fas fa-times-circle text-red-300"></i><span class="fs-1 fw-bold text-red-500" id="canceledAppointments"></span>
            </div>
            <p class="mb-1 fs-5 text-red-600">HỦY</p>
        </div>
    </div>
</div>
<div class="row m-2 p-2 border border-0 rounded shadow bg-white">
    <table class="table table-bordered table-striped caption-top table-hover">
        <caption>DANH SÁCH LỊCH HẸN<hr class="m-0"></caption>
        <thead>
            <tr class="text-center">
                <th>STT</th>
                <th>Trạng thái
                    <select class="">
                        <option selected>Tất cả</option>
                        <option value="1">Duyệt</option>
                        <option value="2">Đang chờ</option>
                        <option value="3">Từ chối</option>
                    </select>
                </th>
                <th>Ngày
                    <select class="">
                        <option selected>Tất cả</option>
                        <option value="1">Mới nhất</option>
                        <option value="2">Cũ nhất</option>
                    </select>
                </th>
                <th>Địa chỉ</th>
                <th>Bác sĩ</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody id="appointmentTable">
            
        </tbody>
    </table>

    <nav id="paginationArea">
    </nav>
</div>