<div class="row m-2 p-2 border border-0 rounded shadow bg-white caption-top">
    <span class="text-gray-600 text-start p-0">THÔNG TIN TỔNG QUÁT</span>
    <hr>
    <div class="d-flex justify-content-around align-items-center">
        <div class="card shadow-sm rounded border-2 bg-white p-3 w-25 text-center me-3">
            <div class="icon-wrapper mb-2">
                <i class="fs-1 me-2 fas fa-clinic-medical text-blue-300"></i><span class="fs-1 fw-bold text-blue-500" id="totalFacilities"></span>
            </div>
            <p class="mb-1 fs-5 text-blue-600">TẤT CẢ</p>
        </div>

        <div class="card shadow-sm rounded border-2 bg-white p-3 w-25 text-center me-3">
            <div class="icon-wrapper mb-2">
                <i class="fs-1 me-2 fas fa-hospital text-orange-500 fa-hospital-300"></i><span class="fs-1 fw-bold text-orange-500 fa-hospital-500" id="totalHospitals"></span>
            </div>
            <p class="mb-1 fs-5 text-orange-500 fa-hospital-600">BỆNH VIỆN</p>
        </div>

        <div class="card shadow-sm rounded border-2 bg-white p-3 w-25 text-center me-3">
            <div class="icon-wrapper mb-2">
                <i class="fs-1 me-2 fas fa-user-md text-pink-300"></i><span class="fs-1 fw-bold text-pink-500" id="totalClinics"></span>
            </div>
            <p class="mb-1 fs-5 text-pink-600">PHÒNG KHÁM</p>
        </div>

        <div class="card shadow-sm rounded border-2 bg-white p-3 w-25 text-center me-3">
            <div class="icon-wrapper mb-2">
                <i class="fs-1 me-2 fas fa-medkit text-green-300"></i><span class="fs-1 fw-bold text-green-500" id="totalHealthCenters"></span>
            </div>
            <p class="mb-1 fs-5 text-green-600">TRUNG TÂM</p>
        </div>

        <div class="card shadow-sm rounded border-2 bg-white p-3 w-25 text-center">
            <div class="icon-wrapper mb-2">
                <i class="fs-1 me-2 fas fa-map-marker-alt text-red-300"></i><span class="fs-1 fw-bold text-red-500" id="totalAreas"></span>
            </div>
            <p class="mb-1 fs-5 text-red-600">KHU VỰC</p>
        </div>
    </div>
</div>
<div class="row m-2 p-2 border border-0 rounded shadow bg-white">
    <table class="table table-striped table-bordered table-hover caption-top">
        <caption>DANH SÁCH CÁC CƠ SỞ Y TẾ<hr class="m-0"></caption>
        <thead class="table-info">
            <tr>
                <th class="text-center">STT</th>
                <th class="text-center">Tên phòng khám</th>
                <th class="text-center">Địa chỉ</th>
                <th class="text-center">Số điện thoại</th>
                <th class="text-center">Danh mục</th>
                <th class="text-center">Tùy chọn</th>
            </tr>
        </thead>
        <tbody id="facilityTable">
        </tbody>
    </table>

    <nav id="paginationArea">
        Phân trang
    </nav>
</div>
