<div class="row m-2 p-2 border border-0 rounded shadow bg-white caption-top">
    <span class="text-gray-600 text-start p-0">THÔNG TIN TỔNG QUÁT</span>
    <hr>
    <div class="d-flex justify-content-around align-items-end">
        <div>
            <p class="m-1 fs-6 text-blue-300">Bác sĩ làm việc hôm nay</p>
            <p class="m-1 fs-6 fw-bold text-blue-600">100</p>
        </div>
        <div>
            <p class="m-1 fs-6 text-yellow-300">Tổng số bệnh nhân</p>
            <p class="m-1 fs-6 fw-bold text-yellow-600" id="totalPatients"></p>
        </div>
        <div>
            <p class="m-1 fs-6 text-orange-300">Bác sĩ làm việc tháng này</p>
            <p class="m-1 fs-6 fw-bold text-orange-600">100</p>
        </div>
    </div>
</div>
<div class="row m-2 p-2 border border-0 rounded shadow bg-white">
    <table class="table table-striped table-bordered table-hover caption-top">
        <caption>DANH SÁCH BỆNH NHÂN<hr class="m-0"></caption>
        <thead class="table-primary">
            <tr>
                <th>STT</th>
                <th>Họ và tên</th>
                <th>Mã số sức khỏe</th>
                <th>Ảnh đại diện</th>
                <th>Tùy chỉnh</th>
            </tr>
        </thead>
        <tbody id="patientTable">

        </tbody>
    </table>
</div>